#
# Ci-dessous les variables pour configurer les conteneurs de item-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#
######################################################
# Version de l'application item
######################################################
VERSION=latest
ITEM_API_VERSION=${VERSION}-api
ITEM_FRONT_VERSION=${VERSION}-front
ITEM_BATCH_VERSION=${VERSION}-batch

######################################################
# Paramètres globaux
######################################################
MEM_LIMIT=5g
CPU_LIMIT=4

######################################################
# Paramétrage de item-front
######################################################
# Port du front
ITEM_FRONT_HTTP_PORT=18080
# Valeur de la variable ITEM_FRONT_API_BASEURL à adapter à l'environnement d'éxecution (env de dev: https://item-dev.sudoc.fr/api/v1/, env de test: https://item-test.sudoc.fr/api/v1/, env de prod: https://item.sudoc.fr/api/v1/)
ITEM_FRONT_API_BASEURL=___A_COMPLETER___
# Valeur de la variable ITEM_FRONT_IDREF_API_URL à adapter à l'environnement d'éxecution (env de dev et de test: https://www-test.idref.fr/services/, env de prod: https://www.idref.fr/services/)
ITEM_FRONT_IDREF_API_URL=___A_COMPLETER___

# Variable à modifier pour activer le mode maintenance (1 activé)
ITEM_FRONT_MAINTENANCE=0

######################################################
# Paramétrage de item-api
######################################################
# Valeur de la variable ITEM_LOGGING_LEVEL_ROOT (log de spring boot) selon l'env : WARN en prod, WARN en test, INFO en dev
ITEM_LOGGING_LEVEL_ROOT=WARN
# Valeur de la variable ITEM_LOGGING_LEVEL_ITEM (log de l'application) selon l'env : INFO en prod, INFO en test, DEBUG en dev
ITEM_LOGGING_LEVEL_ITEM=INFO
ITEM_API_HTTP_PORT=18081
# Secret pour la vérification des tokens JWT (authentification) - voir .jwt sur serveur
ITEM_API_JWT_SECRET=___A_COMPLETER___

# Repertoire de dépôt des fichiers de demande sur le serveur : /applis/item/dev/ en DEV, /applis/item/test/ en TEST, /applis/item en PROD
ITEM_API_WORKDIR=___A_COMPLETER___
# Valeur de la variable ITEM_API_SPRING_PROFILES_ACTIVE selon l'env : prod pour PROD, test pour TEST, dev pour DEV
ITEM_API_SPRING_PROFILES_ACTIVE=___A_COMPLETER___

# Connexion Base XML
# Valeur de la variable ITEM_API_SPRING_BASEXML_DATASOURCE_URL -> Url base xml de test et de dev : jdbc:oracle:thin:@//orpins-t-scan.v110.abes.fr:1521/APISUDOC | Url base xml de prod : jdbc:oracle:thin:@//orpins-p-scan.v110.abes.fr:1521/APISUDOC
ITEM_API_SPRING_BASEXML_DATASOURCE_URL=___A_COMPLETER___
# Demander au responsable SOA les identifiants
ITEM_API_SPRING_BASEXML_DATASOURCE_USERNAME=___A_COMPLETER___
ITEM_API_SPRING_BASEXML_DATASOURCE_PASSWORD=___A_COMPLETER___

######################################################
# Config de de la connexion au SUDOC
######################################################
# Valeur de la variable ITEM_SUDOC_SERVER -> env de prod : cbs-app-prod.v102.abes.fr, env de test : cbs-app-test.v202.abes.fr
ITEM_SUDOC_SERVER=___A_COMPLETER___
ITEM_SUDOC_PORT=1074
# Valeur de ITEM_SUDOC_LOGIN : login manager de l'abes
ITEM_SUDOC_LOGIN=___A_COMPLETER___
ITEM_SUDOC_PASSWORD=___A_COMPLETER___
ITEM_SUDOC_POLL=200


######################################################
# Config des batchs
######################################################
ITEM_BATCH_AT_STARTUP=1
ITEM_BATCH_CRON_TRAITEMENT=* * * * *
ITEM_BATCH_CRON_STAT=0 7 1 * *
# env de prod workdir: /applis/statistiques/item/prod/, env de test workdir: /applis/statistiques/item/test/, env de dev workdir: /applis/statistiques/item/dev/
ITEM_BATCH_STAT_WORKDIR=___A_COMPLETER___
ITEM_BATCH_DEPLOY_CRON=1
# Valeur de la variable BATCH_MIN_HOUR selon l'env : dev : 19 à 20, test : 19 à 20, prod : 7 à 20
BATCH_MIN_HOUR=___A_COMPLETER___
BATCH_MAX_HOUR=___A_COMPLETER___

######################################################
# Paramétrage de item-db et item-db-adminer
######################################################
ITEM_DB_ADMINER_HTTP_PORT=18082
# Demander au responsable de l'application du SOA de vous les communiquer
ITEM_DB_POSTGRES_USER=___A_COMPLETER___
ITEM_DB_POSTGRES_PASSWORD=___A_COMPLETER___
ITEM_DB_POSTGRES_EXTERNAL_PORT=18083

######################################################
# Paramétrage de item-db-dumper
######################################################
# Valeur de variable pour ITEM_DB_DUMPER_NOTIFICATION_SLACK_IDENTIFIER : Env de prod: diplotaxis5-prod item-db-dumper; Env de test: diplotaxis5-test item-db-dumper; Env de dev: diplotaxis5-dev item-db-dumper
ITEM_DB_DUMPER_NOTIFICATION_SLACK_IDENTIFIER=___A_COMPLETER___
ITEM_DB_DUMPER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/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

